* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}
h1 {
  width: 100px;
  background-color: aqua;
}
.red {
  background-color: red;
}
nav {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}
.btn {
  outline: none;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  color: rebeccapurple;
  background-color: #ddd;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: all 0.2s;
}
.btn:hover {
  opacity: 0.9;
  color: white;
}
ul {
  list-style: none;
  margin: 25px auto;
  max-width: 800px;
}
li {
  margin: 15px auto;
  padding: 5px;
  text-align: center;
  background-color: #ddd;
  max-width: 50%;
  border-radius: 5px;
}
.alert {
  color: rebeccapurple;
  border-radius: 5px;
  width: 50%;
  margin: 15px auto;
  max-width: 400px;
  background-color: rgb(253, 189, 71);
  text-align: center;
}
p {
  padding: 20px;
}
